:root {
  --color-nav: #696868;
}

ul {
  margin-left: 80px;
  color: var(--color-nav);
  display: flex;
  list-style: none;
  margin: 2px 2px;
  size: 100px;
}
ul > li{

  margin-left: 80px;
  color: var(--color-nav);
  font-size: 17px;
  margin: 20px 20px;
}